@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Add this to your global CSS file (e.g., index.css or App.css) */


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
}

.header-logo {
    height: 40px;
}

.header-menu {
    display: flex;
    gap: 20px;
}

.header-menu-item {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.header-menu-item:hover {
    color: #1f80e0;
}